.menu__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.title {
    font-size: 3em;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 0.5em;
    font-family: "JetBrains Mono", monospace;
    color: #0c0c0f;
}

.sub-title {
    font-size: 1.3em;
    line-height: 1;
    margin-bottom: 2em;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: #0c0c0f;
}

.btn.secondary {
    background-color: transparent;
    outline: solid 2px #1A174F;
    color: #1A174F;
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 3rem;
    font-size: 1.25em;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
}

.btn.secondary:hover {
    background-color: #1A174F;
    color: #f9f4f4;
}

/* game */
.container-game {
    position: relative;
    width: 100%;
}

.cat {
    position: absolute;
}

.cat img {
    width: clamp(8rem, 20vw + 1rem, 11rem);
}

.score-hud {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 2em;
    font-family: "JetBrains Mono", monospace;
    color: #0c0c0f;
    border: 2px solid #0c0c0f;
    border-radius: 0.5em;
}

/* game wins */
input {
    font-size: 1.25em;
    font-family: "JetBrains Mono", monospace;
    color: #0c0c0f;
    border: 2px solid #3b82f6;
    border-radius: 3em;
    min-width: 10em;
    padding: 1em;
    text-align: center;
}