.menu__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; */
}

.title {
    color: var(--text);
}

.sub-title {
    margin-bottom: 1em;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: #0c0c0f;
}

.btn.secondary {
    background-color: var(--secondary-button);
    outline: solid 2px var(--primary-button);
}

.btn.secondary:hover {
    background-color: #1A174F;
    color: #f9f4f4;
}

/* game */
.container-game {
    position: relative;
    width: 100%;
}

.cat {
    position: absolute;
}

.cat img {
    width: clamp(6rem, calc(1.32rem + 10vw), 8rem);
}

.score-hud {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: "JetBrains Mono", monospace;
    color: #0c0c0f;
    border: 2px solid #0c0c0f;
    border-radius: 0.5em;
}

/* game wins */
input {
    font-family: "JetBrains Mono", monospace;
    color: #0c0c0f;
    border: 2px solid #3b82f6;
    border-radius: 3em;
    min-width: 10em;
    padding: 1em;
    text-align: center;
}