#board {
    height: 100%;
}

.board__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

tr {
    color: #f9f4f4;
    background: #173753;
}

th {
    font-weight: 600;
    padding: 1em;
}

td {
    padding-block: 0.5em;
    text-align: center;
}

.odd {
    background: #00607C;
}

.even {
    background: #006069;
}

tr:hover {
    background: #F1962E;
}