#board {
    height: 100%;
}

.board__div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: #008EAE;
}

table {
    width: 100%;
    padding-inline: 1em;
}

tr {
    color: #f9f4f4;
    background: #173753;
}

th {
    font-size: 1.5em;
    font-weight: 600;
    padding: 1em;
}

td {
    font-size: 1.2em;
    font-weight: 400;
    padding-block: 0.6em;
    text-align: center;
}

.odd {
    background: #00607C;
}

.even {
    background: #006069;
}

tr:hover {
    background: #F1962E;
}