@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-dark: hsl(0, 0%, 0%, 0.9);
  --color-light: hsl(0, 0%, 100%, 0.9);

  --text: #01080e;
  --background: #f5fafe;
  --primary-button: #9fcff9;
  --secondary-button: #e2f1fd;
  --accent: #b7dbfb;

  --step--2: clamp(0.63rem, calc(0.84rem + -0.27vw), 0.78rem);
  --step--1: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
  --step-2: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
  --step-3: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --step-4: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
  --step-5: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);
}

body {
  font-family: monospace;
  color: var(--text);
  font-size: var(--step--1);
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: min(100% - 3rem, 55ch);
  margin-inline: auto;
}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.1;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-0);
  font-weight: 400;
}